@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  color: var(--ink);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
